.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  &_active {
    .burger-menu__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__content {
    height: 100%;
    transition-property: transform, opacity;
    transition-duration: $transitionDuration;
    opacity: 0;
    transform: translateY(-15%);
    background-color: white;
    padding-top: rem(208);
    padding-bottom: rem(60);
    max-height: rem(420);
  }

  .container {
    height: 100%;
    width: 100%;
    background: url("../img/burger_bg.svg") no-repeat center right rem(16);
  }

  &__nav-menu {
    max-width: rem(308);
    height: 100%;
    overflow: auto;
  }

  &__categories {
    display: none;
  }
}

@include small-tablet {
  .burger-menu {
    &__content {
      padding-top: rem(194);
      padding-bottom: 3.5rem;
      max-height: 100%;
    }

    .container {
      height: 100%;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }

    &__nav-menu {
      transform: translateX(0);
      max-width: 100%;
      height: rem(280);
    }

    .nav-menu__list {
      &_grid_row {
        grid-template-columns: 1fr;
        gap: rem(30) 0;
      }
    }

    &__categories {
      display: block;
      height: rem(70);
      overflow: auto;
      .categories__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        row-gap: rem(12);
      }
    }
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  .burger-menu {
    &__content {
      max-height: 100%;
    }

    &__nav-menu,
    &__categories {
      height: auto;
    }

    .nav-menu__list,
    .categories__list {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      gap: 0.5rem;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
    }
  }
}
