<div class="burger-menu fade-animation">
  <div class="burger-menu__body">
    <div class="burger-menu__content">
      <div class="burger-menu__item">
        <div class="container">
          <nav class="nav-menu burger-menu__nav-menu">
            <ul class="list-reset nav-menu__list nav-menu__list_grid_row">
              <li class="nav-menu__item">
                <a
                  href="catalog.html"
                  data-test="burger-link"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Каталог</a
                >
              </li>
              <li class="nav-menu__item">
                <a
                  href="#"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Магазины</a
                >
              </li>
              <li class="nav-menu__item">
                <a
                  href="#"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Шоу-рум</a
                >
              </li>
              <li class="nav-menu__item">
                <a
                  href="#"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Доставка и оплата</a
                >
              </li>
              <li class="nav-menu__item">
                <a
                  href="#"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Дисконт</a
                >
              </li>
              <li class="nav-menu__item">
                <a
                  href="#"
                  class="nav-menu__link burger-menu__link burger-menu__link_close animation-menu-text"
                  >Контакты</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="burger-menu__item">
        <div class="container">
          <nav class="categories burger-menu__categories">
            <ul class="list-reset categories__list">
              <li class="categories__item">
                <a
                  href="#"
                  class="categories__link burger-menu__link burger-menu__link_close"
                  >О компании</a
                >
              </li>
              <li class="categories__item">
                <a
                  href="#"
                  class="categories__link burger-menu__link burger-menu__link_close"
                  >Гарантия и возврат</a
                >
              </li>
              <li class="categories__item">
                <a
                  href="#"
                  class="categories__link burger-menu__link burger-menu__link_close"
                  >Корпоративным клиентам</a
                >
              </li>
              <li class="categories__item">
                <a
                  href="#"
                  class="categories__link burger-menu__link burger-menu__link_close"
                  >Дизайн-решение</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
