<div class="getting">
  <h3 class="subtitle getting__subtitle">Что вы получаете?</h3>
  <ul class="list-reset getting__list">
    <li class="getting__item getting__item_one">
      <p class="getting__text">
        Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым
        дизайнерам и архитекторам. Выпускаемая нами продукция гармонично
        дополнит любой современный проект.
      </p>
    </li>
    <li class="getting__item getting__item_two">
      <p class="getting__text">
        Комплексное решение для красивого и функционального обустройства любых
        пространств.
      </p>
    </li>
    <li class="getting__item getting__item_three">
      <p class="getting__text">
        В ассортименте представлены все товарные группы для того, чтобы
        воссоздать обстановку в помещениях разных типов: кабинетах, смешанных
        пространствах, Open Space, гостевых и переговорных комнатах.
      </p>
    </li>
  </ul>
</div>
