<header class="header">
  <div
    class="header__item header__item_bg_grey header__item_first header__item_small-tablet_visible header__item_desctop-hidden"
  >
    <div class="container">
      <a href="index.html" class="outline-reset logo header__logo">
        <img class="logo__img" src="img/logo.svg" alt="Логотип" />
      </a>
    </div>
  </div>
  <div
    class="header__item header__item_bg_grey header__item_bg-laptop_none header__item_nth_2"
  >
    <div
      class="container header__container header__container_laptop-justify_sb header__container_flex"
    >
      <div
        aria-label="Выпадающее меню с выбором региона"
        role="listbox"
        class="header__region"
      >
        <span class="header__text">Ваш регион:</span>
        <div class="select select-region">
          <button type="button" class="btn-reset select__trigger">
            <span class="select__current-item"></span>
            <svg class="select__icon">
              <use xlink:href="img/sprite.svg#select_icon"></use>
            </svg>
          </button>
          <div class="select__body">
            <div class="select__content">
              <button
                data-key="moscow"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Москва</button
              ><button
                data-key="kazan"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Казань</button
              ><button
                data-key="ufa"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Уфа</button
              ><button
                data-key="permian"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Пермь
              </button>
            </div>
            <button class="btn-reset select__more-btn">+ ещё</button>
          </div>
        </div>
      </div>
      <a href="tel:+74958854547" class="outline-reset phone-number">
        <svg class="phone-number__icon">
          <use xlink:href="img/sprite.svg#mdi_call"></use>
        </svg>
        <span class="phone-number__text">+7 &#40;495&#41; 885-45-47</span>
      </a>
      <nav
        class="categories header__categories header__categories_laptop-hidden"
      >
        <ul class="list-reset categories__list categories__list_grid">
          <li class="categories__item">
            <a href="#" class="outline-reset categories__link">О компании</a>
          </li>
          <li class="categories__item">
            <a href="#" class="outline-reset categories__link"
              >Гарантия и возврат</a
            >
          </li>
          <li class="categories__item">
            <a href="#" class="outline-reset categories__link"
              >Корпоративным клиентам</a
            >
          </li>
          <li class="categories__item">
            <a href="#" class="outline-reset categories__link"
              >Дизайн-решение</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div
    class="header__item header__item_nth_3 header__item_laptop-visible header__item_desctop-hidden header__item_bg_grey"
  >
    <div
      class="container header__container header__container_align_center header__container_justify_sb header__container_flex"
    >
      <nav class="categories header__categories">
        <ul class="list-reset categories__list categories__list_grid">
          <li class="categories__item">
            <a href="#" class="categories__link">О компании</a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link">Гарантия и возврат</a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link">Корпоративным клиентам</a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link">Дизайн-решение</a>
          </li>
        </ul>
      </nav>
      <div class="header__group header__group_tablet-hidden">
        <button
          aria-label="Вход в личный кабинет"
          type="button"
          class="btn-reset login header__login"
        >
          <svg class="login__icon">
            <use xlink:href="img/sprite.svg#login"></use>
          </svg>
        </button>
        <button
          aria-label="Корзина покупок"
          type="button"
          class="btn-reset basket"
        >
          <span class="basket__counter">0</span>
          <svg class="basket__icon">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header__item header__item_nth_4">
    <div
      class="container header__container header__container_align_center header__container_flex header__container_justify_sb"
    >
      <button
        aria-label="Бургер меню"
        type="button"
        class="btn-reset burger-trigger header__burger-trigger"
      >
        <span class="burger-trigger__item"></span
        ><span class="burger-trigger__item"></span
        ><span class="burger-trigger__item"></span>
      </button>
      <a
        href="index.html"
        class="outline-reset logo header__logo header__logo_mobile-hidden"
      >
        <img class="logo__img" src="img/logo.svg" alt="Логотип" />
      </a>
      <nav
        class="nav-menu header__nav-menu header__nav-menu_tablet-hidden header__nav-menu_transform_y"
      >
        <ul class="list-reset nav-menu__list nav-menu__list_grid">
          <li class="nav-menu__item">
            <a
              href="catalog.html"
              class="outline-reset nav-menu__link animation-menu-text"
              >Каталог</a
            >
          </li>
          <li class="nav-menu__item">
            <a href="#" class="outline-reset nav-menu__link animation-menu-text"
              >Магазины</a
            >
          </li>
          <li class="nav-menu__item">
            <a href="#" class="outline-reset nav-menu__link animation-menu-text"
              >Шоу-рум</a
            >
          </li>
          <li class="nav-menu__item">
            <a href="#" class="outline-reset nav-menu__link animation-menu-text"
              >Доставка и оплата</a
            >
          </li>
          <li class="nav-menu__item">
            <a href="#" class="outline-reset nav-menu__link animation-menu-text"
              >Дисконт</a
            >
          </li>
          <li class="nav-menu__item">
            <a href="#" class="outline-reset nav-menu__link animation-menu-text"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="header__group header__group_tablet-visible header__group_desctop-hidden"
      >
        <button
          aria-label="Вход в личный кабинет"
          type="button"
          class="btn-reset login header__login"
        >
          <svg class="login__icon">
            <use xlink:href="img/sprite.svg#login"></use>
          </svg>
        </button>
        <button
          aria-label="Корзина покупок"
          type="button"
          class="btn-reset basket"
        >
          <span class="basket__counter">0</span>
          <svg class="basket__icon">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header__item header__item_nth_5">
    <div class="container header__container header__container_flex">
      <form action="#" class="search header__search">
        <input
          class="input-reset search__input"
          type="search"
          name="search"
          placeholder="Я хочу купить..."
        />
        <svg class="search__search-icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
        <button type="submit" class="btn-reset search__button">
          <svg
            class="search__icon"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="search__circle"
              r="15"
              transform="matrix(-1 0 0 1 16 16)"
            />
            <path
              class="search__arrow"
              d="M18 11L13 16L18 21"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </form>
      <div
        aria-label="Выпадающее меню с выбором категории поиска"
        role="listbox"
        data-test="select-category"
        class="select select-category"
      >
        <button
          data-test="select-category-trigger"
          type="button"
          class="btn-reset select__trigger"
        >
          <span
            data-test="select-category-current-item"
            class="select__current-item"
            >Категория</span
          >
          <svg class="select__icon">
            <use xlink:href="img/sprite.svg#select_icon"></use>
          </svg>
        </button>
        <div data-test="select-category-body" class="select__body">
          <div class="select__content">
            <button
              data-test="select-category-item"
              data-key="Диваны"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Диваны</button
            ><button
              data-key="Кресла"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Кресла</button
            ><button
              data-key="Пуфы"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Пуфы</button
            ><button
              data-key="Кровати"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Кровати</button
            ><button
              data-key="Тумбы"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Тумбы</button
            ><button
              data-key="Комоды"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Комоды</button
            ><button
              data-key="Стулья"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Стулья</button
            ><button
              data-key="Столы"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Столы</button
            ><button
              data-test="select-category-hidden-item"
              data-key="Аксессуары"
              type="button"
              class="btn-reset select__item animation-menu-text"
            >
              Аксессуары
            </button>
          </div>
          <button
            data-test="select-category-more"
            class="btn-reset select__more-btn"
          >
            + ещё
          </button>
        </div>
      </div>
      <div
        class="header__group header__group_margin_left header__group_laptop-hidden"
      >
        <button
          aria-label="Вход в личный кабинет"
          type="button"
          class="btn-reset login header__login"
        >
          <svg class="login__icon">
            <use xlink:href="img/sprite.svg#login"></use>
          </svg>
        </button>
        <button
          aria-label="Корзина покупок"
          type="button"
          class="btn-reset basket"
        >
          <span class="basket__counter">0</span>
          <svg class="basket__icon">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  @include('../partials/burger-menu.html')
</header>
