<section class="oxford">
  <div class="oxford__content">
    <div class="container">
      <h2 class="oxford__title">
        <span class="oxford__span">Оксфорд 1950</span>
        Новая коллекция изысканных кресел
      </h2>
      <a
        href="#"
        class="btn-reset oxford__button button button_animation_one button_background_primary button_color_white oxford__button_mobile-hidden"
      >
        Ознакомиться
      </a>
    </div>
  </div>
  <div class="container">
    <a
      href="#"
      class="btn-reset oxford__button button button_background_primary button_animation_one button_color_white oxford__button_desctop-hidden oxford__button_mobile-visible"
    >
      Ознакомиться
    </a>
  </div>
</section>
