<section class="cooperation">
  <div class="container">
    <h2 class="title cooperation__title">Сотрудничество</h2>
    <ul class="list-reset cooperation__grid">
      <li class="cooperation__item cooperation__item_suppliers">
        @include('./suppliers.html')
      </li>
      <li class="cooperation__item cooperation__item_getting">
        @include('./getting.html')
      </li>
      <li class="cooperation__item cooperation__item_benefits">
        @include('./benefits.html')
      </li>
      <li class="cooperation__item cooperation__item_warranty">
        @include('./warranty.html')
      </li>
    </ul>
  </div>
</section>
