<section class="catalog">
  <h1 class="title catalog__title catalog__title_laptop-hidden">Каталог</h1>
  <div class="swiper catalog__slider">
    <ul class="list-reset swiper-wrapper grid-container">
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">5,0</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/r94_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/r94_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r94_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r94_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/r94_desctop.webp"
                alt="Черный кожаный диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван кожаный &#8220;R-94&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              94 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,8</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/y68_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/y68_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/y68_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/y68_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/y68_desctop.webp"
                alt="Оранжевый велюровый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван велюровый &#8220;Y-68&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              22 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,8</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/v43_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/v43_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/v43_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/v43_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/v43_desctop.webp"
                alt="Серый шиниловый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван шиниловый &#8220;V-43&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              19 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,9</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/t75_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/t75_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/t75_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/t75_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/t75_desctop.webp"
                alt="Коричневый апартековый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван апартековый &#8220;T-75&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              69 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,8</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/w95_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/w95_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/w95_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/w95_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/w95_desctop.webp"
                alt="Желтый шиниловый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван из шинила &#8220;W-95&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              22 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,7</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/s99_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/s99_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/s99_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/s99_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/s99_desctop.webp"
                alt="Светло-коричневый велюровый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван велюровый &#8220;S-99&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              19 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,8</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/d31_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/d31_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/d31_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/d31_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/d31_desctop.webp"
                alt="Синий тканевый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван тканевый &#8220;D-31&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              28 490 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,8</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/g41_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/g41_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/g41_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/g41_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/g41_desctop.webp"
                alt="Молочный флоковый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван флоковый &#8220;G-41&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              17 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,7</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/f85_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/f85_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/f85_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/f85_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/f85_desctop.webp"
                alt="Светло-зеленый диван из кожзама"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван из кожзама &#8220;F-85&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              26 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,6</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/h64_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/h64_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/h64_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/h64_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/h64_desctop.webp"
                alt="Серый флоковый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван флоковый &#8220;H-64&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              25 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,6</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/c42_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/c42_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/c42_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/c42_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/c42_desctop.webp"
                alt="Серый шиниловый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван из шинила &#8220;С-42&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              18 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,5</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/r85_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/r85_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r85_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r85_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/r85_desctop.webp"
                alt="Серый велюровый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван велюровый &#8220;R-85&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              34 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,6</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/h58_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/h58_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/h58_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/h58_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/h58_desctop.webp"
                alt="Серый флоковый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван флоковый &#8220;H-58&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              23 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,6</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/u58_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/u58_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/u58_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/u58_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/u58_desctop.webp"
                alt="Золотой велюровый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван велюровый &#8220;U-58&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              21 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,5</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/s44_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/s44_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/s44_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/s44_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/s44_desctop.webp"
                alt="Темно-синий велюровый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван велюровый &#8220;S-44&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              19 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,6</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/r43_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/r43_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r43_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/r43_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/r43_desctop.webp"
                alt="Коричневый диван из кожзама"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван из кожзама &#8220;R-43&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              33 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,5</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/f41_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/f41_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/f41_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/f41_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/f41_desctop.webp"
                alt="Молочный флоковый диван"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван флоковый &#8220;F-41&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              17 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
      <li class="swiper-slide">
        <article class="special-card">
          <div
            class="special-card__item special-card__item_height_191 special-card__item_mgb_16 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
          >
            <span class="rating-star special-card__rating-star">
              <span class="rating-star__value">4,4</span>
            </span>
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="img/c80_desctop.avif"
                type="image/avif"
              />
              <source
                media="(min-width:1440px)"
                srcset="img/c80_desctop.webp"
                type="image/webp"
              />
              <source
                media="(max-width:675px)"
                srcset="img/c80_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width:675px)"
                srcset="img/c80_mobile.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/c80_desctop.webp"
                alt="Оранжевый диван из шинила"
                class="special-card__img"
              />
            </picture>
          </div>
          <div
            class="special-card__item special-card__item_height_100-206 special-card__item_padding_30 special-card__item_flex"
          >
            <h3
              class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_236"
            >
              Диван из шинила &#8220;С-80&#8221;
            </h3>
            <p
              class="special-card__price special-card__price_color_shade-grey special-card__price_mgb_24"
            >
              20 990 руб
            </p>
            <a
              class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
              href="d31.html"
            >
              Купить
            </a>
          </div>
        </article>
      </li>
    </ul>
    <div class="swiper-pagination catalog__pagination"></div>
  </div>
</section>
