<section class="special-offers">
  <div class="container">
    <div
      class="special-offers__item special-offers__item_flex special-offers__item_first"
    >
      <h2 class="title special-offers__title">Специальные предложения</h2>
      <div class="slide-buttons special-offers__slide-buttons">
        <div class="swiper-button-prev slide-buttons__prev">
          <svg
            class="slide-arrow slide-arrow_prev"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="slide-arrow__circle"
              r="15"
              transform="matrix(-1 0 0 1 16 16)"
            />
            <path
              class="slide-arrow__arrow"
              d="M18 11L13 16L18 21"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="swiper-button-next slide-buttons__next">
          <svg
            class="slide-arrow slide-arrow_next"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="slide-arrow__circle"
              r="15"
              transform="matrix(-1 0 0 1 16 16)"
            />
            <path
              class="slide-arrow__arrow"
              d="M18 11L13 16L18 21"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="special-offers__item">
      <div class="swiper special-offers__slider">
        <ul class="list-reset swiper-wrapper">
          <li
            class="swiper-slide special-offers__slide special-offers__slide_small"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value">
                    &minus; 9 000
                  </span>
                </span>
                <picture>
                  <source srcset="img/x24_desctop.avif" type="image/avif" />
                  <img
                    loading="lazy"
                    src="img/x24_desctop.webp"
                    alt="Желтое велюровое кресло"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Кресло велюровое &#8220;X-24&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    15 990 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    24 990 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
          <li
            class="swiper-slide special-offers__slide special-offers__slide_big special-offers__slide_big_one"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value">
                    &minus; 10 000
                  </span>
                </span>
                <picture>
                  <source
                    srcset="img/z44_desctop.avif"
                    type="image/avif"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="img/z44_desctop.webp"
                    type="image/webp"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="img/z44_laptop.avif"
                    type="image/avif"
                    media="(max-width: 1439.98px)"
                  />
                  <source
                    srcset="img/z44_laptop.webp"
                    type="image/webp"
                    media="(max-width: 1439.98px)"
                  />
                  <img
                    loading="lazy"
                    src="img/z44_desctop.webp"
                    alt="Бежевые тканевый диван"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Диван тканевый &#8220;Z-44&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    22 990 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    32 990 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
          <li
            class="swiper-slide special-offers__slide special-offers__slide_small"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value">&minus; 600</span>
                </span>
                <picture>
                  <source
                    srcset="img/quartz23_desctop.avif"
                    type="image/avif"
                  />
                  <img
                    loading="lazy"
                    src="img/quartz23_desctop.webp"
                    alt="Черный позолоченный будильник"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Будильник &#8220;Quartz-23&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    1 290 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    1 890 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
          <li
            class="swiper-slide special-offers__slide special-offers__slide_small"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value">&minus; 300</span>
                </span>
                <picture>
                  <source
                    srcset="img/ohMyDeer_desctop.avif"
                    type="image/avif"
                  />
                  <img
                    loading="lazy"
                    src="img/ohMyDeer_desctop.webp"
                    alt="Скульптура головы оленя"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Мини-скульптура &#8220;Oh my deer&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    690 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    990 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
          <li
            class="swiper-slide special-offers__slide special-offers__slide_big special-offers__slide_big_two"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value"
                    >&minus; 10 000</span
                  >
                </span>
                <picture>
                  <source
                    srcset="img/z85_desctop.avif"
                    type="image/avif"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="img/z85_desctop.webp"
                    type="image/webp"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="img/z85_laptop.avif"
                    type="image/avif"
                    media="(max-width: 1439.98px)"
                  />
                  <source
                    srcset="img/z85_laptop.webp"
                    type="image/webp"
                    media="(max-width: 1439.98px)"
                  />
                  <img
                    loading="lazy"
                    src="img/z85_desctop.webp"
                    alt="Коричневый диван"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Диван вел-флок &#8220;Z-85&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    22 990 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    32 990 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
          <li
            class="swiper-slide special-offers__slide special-offers__slide_small"
          >
            <article class="special-card">
              <div
                class="special-card__item special-card__item_mgb_16 special-card__item_height_282 special-card__item_flex special-card__item_align-center special-card__item_justify-end"
              >
                <span class="special-card__discount">
                  <span class="special-card__discount-value">&minus; 700</span>
                </span>
                <picture>
                  <source srcset="img/h18_desctop.avif" type="image/avif" />
                  <img
                    loading="lazy"
                    src="img/h18_desctop.webp"
                    alt="Позолоченный термометр + гидрометр"
                    class="special-card__img"
                  />
                </picture>
              </div>
              <div
                class="special-card__item special-card__item_padding_30 special-card__item_height_100-297 special-card__item_flex"
              >
                <h3
                  class="subtitle subtitle_lh_31 subtitle_mgb_22 special-card__subtitle special-card__subtitle_max-width_225"
                >
                  Термометр + гидрометр &#8220;H-18&#8221;
                </h3>
                <div class="special-card__text-group">
                  <p
                    class="special-card__current-price special-card__current-price_margin-right_30"
                  >
                    1 390 руб
                  </p>
                  <p
                    class="special-card__price special-card__price_color_grey special-card__price_text-decoration_line-through"
                  >
                    2 090 руб
                  </p>
                </div>
                <a
                  class="btn-reset special-card__button button button_animation_two button_color_primary button_border"
                  href="d31.html"
                >
                  Купить
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
