<div class="suppliers">
  <h3 class="subtitle suppliers__subtitle">Поставщикам</h3>
  <p class="suppliers__text">
    При планировании обстановки торгового помещения важно обустроить его с
    комфортом для покупателей: грамотно зонировать, обеспечить эффективную
    демонстрацию и хранение товаров в зале. Если вам необходимо комплексное
    оснащение, организация зоны отдыха или отдельные предметы меблировки для
    поддержания эффективной торговой деятельности, мы поможем выбрать продукцию
    с учетом нагрузки от поступающего трафика.
  </p>
</div>
