:root {
  --color-primary: #a65cf0;
  --color-grey: rgb(153, 153, 153);
  --color-black: rgb(51, 51, 51);
  --color-primaryLight: #c998fb;
  --color-primaryShade: #7033ac;
  --color-greyLight: #f6f6f6;
  --color-secondary: #ff862f;
  --color-greyShade: rgba(102, 102, 102, 1);
}
